body{
  background-color: #1f1829;
  /*background-color: #2b9e7f;*/

}

canvas{
  background-color: black;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}